@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Super Hero fan!</h1>
    <p>Check out my list of heroes! You can edit them if you'd like or add your own!</p>
</div>
