@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site isn't super private! Go nuts! You can head to the Hero List below.</p>
<tr>
    <td><a href="/Hero/Index" width="150">Hero List</a> </td>
</tr>
